&, * {
    font-size: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 100px;
    background-color: #000000;
}

.fa {
    min-width: .2rem;
    text-align: center;
    font-size: inherit;
}

#app {
    width: 100%;
    height: 100%;
}

a, i, span, input {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    min-height: 100%;
    li {
        height: .6rem;
        line-height: .4rem;
        .content {
            padding: .1rem;
            width: 100%;
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.07);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgb(23, 128, 247);
            color: #ffffff;
            font-size: .16rem;
            line-height: .4rem;

            input, span {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                &:focus {
                    outline: none;
                }
            }
            span {
                position: relative;
                margin-right: 70px;
                max-width: 100%;
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .line {
                    position: absolute;
                    top: 50%;
                    width: 0px;
                    height: 1px;
                    border-bottom: 1px solid #ffffff;
                }
            }
        }

        &.doneable .content {
            background-color: #0A3;
        }

        &.deleteable .content {
            background-color: #4a4a4a;
        }

        &.done .content {
            background-color: transparent;
            color: #4a4a4a;
            .line {
                display: block;
                width: 100%;
                border-color: #4a4a4a;
            }
        }
    } // ul li
} // ul

.list-container {
    height: 100%;
}
