ul {
    transform: translateY(0px);

    li.top {
        position: absolute;
        top: -60px;
        left: 0px;
        width: 100%;
        perspective: 400px;
        perspective-origin: bottom center;
        .content {
            opacity: 0.5;
            transform: rotateX(90deg);
            transform-origin: bottom center;
        }
    }

    li.bottom {
        perspective: 400px;
        perspective-origin: top center;
        .content {
            opacity: 0.5;
            transform: rotateX(-90deg);
            transform-origin: top center;
            transition: all 0ms;
        }
    }

    li {
        &.moving {
            position: relative;
            .done, .delete {
                display: block;
                position: absolute;
                top: 0px;
                width: 60px;
                height: 100%;
                text-align: center;
                line-height: .6rem;
                color: #ffffff;
                z-index: -1;
            }

            .done {
                left: 0px;
            }
            .delete {
                right: 0px;
                color: red;
            }
        }

        &.cancel {
            transition: all 300ms;
            .content {
                transition: inherit;
            }
        }

        .done, .delete {
            display: none;
            font-size: .20rem;
            line-height: .4rem;
            opacity: 0;
        }
    }

    &.topadding, &.bottomadding, &.itemediting {
        &:not(.cancel) li:not(.active) {
            opacity: .25;
        }
    } // ul.topadding, ul.bottomadding, ul.itemediting

    &.moving {
        transition: all 0s;
    } // ul.moving

    &.cancel {
        // 下拉不到 60 释放时会出现
        transition: all 300ms;
        li.top .content {
            transition: all 300ms;
        }
    } // ul.cancel

    &.topadding {
        transform: translateY(60px);
        transition: all 300ms;
        li.top .content {
            opacity: 1;
            transform: none;
            transition: none;
        }
    } // ul.topadding

    &.topadding.cancel {
        transform: translateY(0px);
        transition: transform 300ms linear 300ms;
        li.top {
            transform: translateX(-100%);
            transition: transform 300ms;
        }
    } // ul.topadding.cancel

    &.bottomadding {
        li.bottom .content {
            opacity: 1;
            transform: none;
            transition: all 300ms;
        }
    } // ul.bottomadding

    &.bottomadding.cancel {
        li.bottom {
            transform: translateX(-100%);
            transition: transform 300ms;
        }
    } // ul.bottomadding.cancel
} // ul
