* {
    box-sizing: border-box;
    font-size: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 100px;
    overflow: hidden;
}

p, span, a {
    font-size: .14rem;
}

section {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    li {
        padding: 10px;
        width: inherit;
        height: 60px;
        line-height: 40px;
        & + li {
            border-top: 1px solid #cccccc;
        }
    }
}

#app {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
