<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>鼠标与触控</title>
</head>
<body>
    <div id="app" v-mt="">
        <section>
            <ul>
                <li v-for="(item, index) in items" v-mt="{
                        onClick: click
                    }">
                    <span>{{ item.name }}</span>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>
