* {
    box-sizing: border-box;
    transform-origin: center center;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

.margin-10-bottom {
    margin-bottom: 10px;
}

.transform-origin-0 {
    transform-origin: 0px 0px 0px;
}
