@import "less/base.less";

body {
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    th, td {
        border: 1px solid #cccccc;
        text-align: center;
        font-size: 12px;
    }
}

#svg {
    position: absolute;
    top: 160px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#info {
    padding: 10px;
    width: 100%;
    height: 160px;
    overflow: auto;
    border-bottom: 1px solid #dddddd;
}

div.text {
    width: 100%;
    white-space: nowrap;
}
