<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>手势指令</title>
</head>
<body>
    <div id="app">
        <div id="info">
            <div class="row margin-10-bottom">
                <table>
                    <thead>
                        <tr>
                            <th>事件名称</th>
                            <th>缩放比例</th>
                            <th>旋转角度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ scale.toFixed(2) }}</td>
                            <td>{{ rotate.toFixed(2) }}</td>
                        </tr>
                        <tr>
                            <td>rect</td>
                            <td>{{ rect.scale.toFixed(2) }}</td>
                            <td>{{ rect.rotate.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>from - 开始坐标(x,y)</th>
                            <th>to - 结束坐标(x,y)</th>
                            <th>offset - 偏移量(x,y)</th>
                            <th>target - 元素</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(point,index) in points">
                            <td>{{index}}</td>
                            <td>{{point.from.x}}, {{point.from.y}}</td>
                            <td>{{point.to.x}}, {{point.to.y}}</td>
                            <td>{{point.to.offset.x}}, {{point.to.offset.y}}</td>
                            <td>{{point.target}}</td>
                        </tr>
                        <tr v-if="points.length === 2">
                            <td>1 - 0</td>
                            <td>{{ points[1].from.x - points[0].from.x }}, {{ points[1].from.y - points[0].from.y }}</td>
                            <td>{{ points[1].to.x - points[0].to.x }}, {{ points[1].to.y - points[0].to.y }}</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="svg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                stroke="#ddd"
                v-finger="{
                    offsetY: -160,
                    onStart: onStart,
                    onEnd: onEnd,
                    onMoving: onMoving
                }">
                <g
                    v-for="(point, index) in points"
                    v-bind:key="'p-' + index">
                    <circle r="5" stroke="none" fill="green"
                        v-bind:cx="point.from.x"
                        v-bind:cy="point.from.y"
                    ></circle>
                    <path v-bind:d="'M ' + point.from.x + ' ' + point.from.y + ' L ' + point.to.x + ' ' + point.to.y"></path>
                    <g class="transform-origin-0"
                        v-if="point.angle"
                        v-bind:style="'transform: translateX(' + point.to.x + 'px) translateY(' + point.to.y + 'px) rotateZ(' + point.angle + 'deg)'">
                        <path
                            d="M -10 -10 L 0 0 L -10 10"
                            fill="none"
                        ></path>
                    </g>
                </g>
                <svg-base
                    x="100"
                    y="100"
                    width="100"
                    height="100"
                    v-bind:on-swipe="onSwipe">
                </svg-base>
                <svg-move
                    x="150"
                    y="150"
                    width="100"
                    height="100">
                </svg-move>
                <svg-rotate
                    x="50%"
                    y="50%"
                    width="100"
                    height="100">
                </svg-rotate>
                <g
                    v-bind:style="'transform: translateX(' + (-1 * (rect.width / 2) * (rect.scale) * scale) +'px) translateY(' + (-1 * (rect.width / 2) * (rect.scale) * scale) + 'px) rotateZ(' + ((rect.rotate) + rotate) + 'deg)'">
                    <rect
                        v-finger="{
                            onStart,
                            onPinch,
                            onRotate,
                            onEnd
                        }"
                        v-bind:x="rect.x"
                        v-bind:y="rect.y"
                        v-bind:width="rect.width * (rect.scale) * scale"
                        v-bind:height="rect.width * (rect.scale) * scale"
                        fill="red"
                    ></rect>
                </g>
            </svg>
        </div>
    </div>
</body>
</html>
