<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Clear</title>
</head>
<body>
    <div id="app">
        <section
            v-finger="{
                onStart: sectionStart,
                onMoving: sectionMoving,
                onEnd: sectionEnd
            }">
            <transition-group
                name="item"
                tag="ul"
                v-bind:class="listClasses"
                v-bind:style="[list.styles]">
                <li
                    class="top"
                    key="top"
                    v-bind:class="{
                        active: list.topadding
                    }"
                    v-finger="{
                        onStart: sectionItemStart
                    }">
                    <div class="rotate"
                        v-bind:style="list.topStyles">
                        <input type="text"
                            v-if="list.topadding"
                            v-model="form.name"
                            ref="input"
                            v-on:keydown.enter="save"
                            v-on:keydown.esc="cancel" />
                        <span v-else-if="list.topready">释放进行输入</span>
                        <span v-else>拉开进行添加</span>
                    </div>
                </li>
                <li
                    class="item"
                    v-for="(item, index) in normalItems"
                    v-bind:key="item.id"
                    v-bind:id="item.id"
                    v-bind:class="{ active: item.id === form.id, done: item.done === true, removed: item.removed === true }"
                    v-finger="{
                        data: item,
                        onStart: itemStart,
                        onMoving: itemMoving,
                        onEnd: itemEnd,
                        onCancel: itemCancel
                    }">
                    <div class="to-done" v-if="item.name && item.done !== true && item.removed !== true">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="main">
                        <input type="text"
                            v-if="item.id === form.id"
                            v-model="form.name"
                            ref="input"
                            v-on:keydown.enter="save"
                            v-on:keydown.esc="cancel" />
                        <span v-else>{{ item.name }}</span>
                    </div>
                    <div class="to-removed" v-if="item.name && item.done !== true && item.removed !== true">
                        <i class="fa fa-trash"></i>
                    </div>
                </li>
                <li
                    class="bottom"
                    key="bottom"
                    v-bind:class="{
                        active: list.bottomadding
                    }"
                    v-finger="{
                        data: 'bottom',
                        onStart: sectionItemStart
                    }">
                    <div class="rotate">
                        <input type="text"
                            v-if="list.bottomadding"
                            v-model="form.name"
                            ref="input"
                            v-on:keydown.enter="save"
                            v-on:keydown.esc="cancel" />
                    </div>
                </li>
                <li class="item done"
                    v-for="(item, index) in doneItems"
                    v-bind:key="item.id"
                    v-bind:id="item.id">
                    <div class="main">
                        <span>{{ item.name }}</span>
                    </div>
                </li>
                <li class="item" key="placeholder"></li>
            </transition-group>
        </section>
    </div>
</body>
</html>
