html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    &, * {
        font-family: sans-serif;
        box-sizing: border-box;
    }
}

.fa {
    min-width: 20px;
    text-align: center;
}

#app {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    li {
        position: relative;
        height: 60px;
        line-height: 40px;
        div {
            padding: 10px;
            width: 100%;
            height: 100%;
            background-color: rgb(23, 128, 247);
            color: #ffffff;
            font-size: 19px;
            font-weight: 700;
            border-top: 1px solid rgba(255, 255, 255, 0.07);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &.to-done {
                position: absolute;
                top: 0px;
                left: -100%;
                text-align: right;
                border-left: 1px solid rgba(255, 255, 255, 0.07);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
            &.to-removed {
                position: absolute;
                top: 0px;
                right: -100%;
                border-right: 1px solid rgba(255, 255, 255, 0.07);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
            }
            input, span {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;
                color: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                &:focus {
                    outline: none;
                }
            } // li div input, li div span
            span {
                overflow: hidden;
                text-overflow: ellipsis;
            } // li div span
        } // li div
        &.top {
            position: absolute;
            top: -60px;
            left: 0px;
            width: 100%;
            perspective: 400px;
            perspective-origin: bottom center;
            div.rotate {
                opacity: 0.5;
                transform: rotateX(90deg);
                transform-origin: bottom center;
            }
            &.active div.rotate {
                opacity: 1;
                transform: rotateX(0deg);
            }
        } // li.top
        &.bottom {
            height: 0px;
            perspective: 400px;
            perspective-origin: top center;
            div.rotate {
                opacity: 0.5;
                transform: rotateX(-90deg);
                transform-origin: top center;
            }
            &.active {
                height: 100%;
                div.rotate {
                    opacity: 1;
                    transform: rotateX(0deg);
                    transition: transform .3s ease, opacity .3s ease;
                }
            }
        } // li.bottom
        &.done {
            .main {
                background-color: transparent;
            }
        } // li.done
        &.removed {
            
        } // li.removed
        &.item-leave-to {
            transform: translateX(-100%);
            height: 0px;
            transition: transform .3s ease, height .3s ease .3s;
        } // li.item-leave-to
        // &.item-move {
        //     transition: all .3s ease;
        // }
    } // ul li

    &[class*="editing"] {
        li:not(.active) {
            opacity: 0.2;
        }
    }

    &.topadding,
    &.ready-to-cancel {
        &, div.rotate {
            transition: all 0.3s ease;
        }
    }
    &.top-to-cancel {
        li.top {
            transform: translateX(-100%);
            transition: transform 0.3s ease, height 0.3s ease 0.3s;
        }
        &, div.rotate {
            transition: all 0.3s ease 0.3s;
        }
    }
    &.bottom-to-cancel {
        li.bottom {
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }
        div.rotate {
            transition: all 0.3s ease 0.3s;
        }
    }
} // ul
