@import "./less/base.less";
@import "./less/transition.less";


.done {
    &.item-move {
        transition: transform 300ms;
    }
    
    &.item-enter, &.item-leave-to {
        opacity: 0;
    }

    &.item-enter-active, &.item-leave-active {
        transition: transform 300ms;
    }
}
