<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Clear</title>
    <style>
        html, body {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <section>
            <div class="list-container">
                <transition-group
                    name="item"
                    tag="ul"
                    v-bind:appear="true"
                    v-mt="{
                        swipe: { yable: true },
                        onStart: listOnStart,
                        onMoving: listOnMoving,
                        onEnd: listOnEnd,
                        onSwipe: listOnSwipe,
                        onClick: listOnClick
                    }"
                    v-bind:style="list.style"
                    v-bind:class="{
                        moving: list.moving,
                        topadding: list.top.editing,
                        bottomadding: list.bottom.editing,
                        itemediting: list.item.editing !== false,
                        cancel: list.cancel }">
                    <li class="top"
                        key="top"
                        v-mt="{ data: { position: 'top' }, onEnd: addingOnEnd }"
                        v-bind:class="{ active: list.top.editing }">
                        <div class="content"
                            v-bind:style="list.top.style">
                            <input type="text" autocomplete="off" ref="input"
                                v-model="form.name"
                                v-on:keydown.enter="resetForm"
                                v-if="list.top.editing" />
                            <span v-else-if="!list.top.editable">下拉添加新项</span>
                            <span v-else="">放开进行添加</span>
                        </div>
                    </li>
                    <li v-for="(item, index) in items"
                        class="item"
                        v-bind:key="'item-' + item.info.id"
                        v-mt="{
                            data: item,
                            selfclick: true,
                            swipe: { xable: true },
                            onMoving: itemOnMoving,
                            onEnd: itemOnEnd,
                            onCancel: itemOnCancel,
                            onSwipe: itemOnSwipe,
                            onClick: itemOnClick
                        }"
                        v-bind:style="item.style"
                        v-bind:class="{
                            active: list.item.editing.id === item.info.id,
                            moving: item.moving === true,
                            cancel: item.moving === false && item.cancelable === true,
                            doneable: item.doneable,
                            deleteable: item.deleteable,
                            deleted: item.moving === false && item.deleteable,
                            done: item.info.completedTime
                        }">
                        <div class="done"><i class="fa fa-check"></i></div>
                        <div class="delete"><i class="fa fa-close"></i></div>
                        <div class="content">
                            <input type="text" autocomplete="off" ref="input"
                                v-model="form.name"
                                v-on:keydown.enter="resetForm"
                                v-if="list.item.editing.id === item.info.id" />
                            <span v-else><div class="line"></div>{{ item.info.name }} {{item}}</span>
                        </div>
                    </li>
                    <li class="bottom"
                        key="bottom"
                        v-mt="{ data: { position: 'bottom' }, onEnd: addingOnEnd }"
                        v-bind:class="{ active: list.bottom.editing }">
                        <div class="content">
                            <input type="text" autocomplete="off" ref="input"
                                v-model="form.name"
                                v-on:keydown.enter="resetForm"
                                v-if="list.bottom.editing" />
                        </div>
                    </li>
                </transition-group>
            </div>
        </section>
    </div>
</body>
</html>
