html, body, #app {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.layout-top {
    background-color: #999999;
}

.layout-bottom {
    background-color: #999999;
}

.layout-left {
    background-color: #aaaaaa;
}

.layout-right {
    background-color: #aaaaaa;
}

.layout-body-main {

}

.layout-body-top {
    background-color: #eeeeee;
}

.layout-body-bottom {
    background-color: #eeeeee;
}

.layout-body-left {
    background-color: #cccccc;
}

.layout-body-right {
    background-color: #cccccc;
}
