<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>布局组件</title>
</head>
<body>
    <div id="app">
        <layout-component
            v-bind:top="layoutTop"
            v-bind:bottom="layoutBottom"
            v-bind:left="{ width: layoutLeft, coverTop: layoutLeftCoverTop, coverBottom: layoutLeftCoverBottom }"
            v-bind:right="{ width: layoutRight, coverTop: layoutRightCoverTop, coverBottom: layoutRightCoverBottom }"
            v-bind:width="layoutWidth"
            v-bind:height="layoutHeight"
            v-bind:body-minwidth="bodyMinwidth"
            v-bind:body-minheight="bodyMinheight"
            v-bind:body-top="bodyTop"
            v-bind:body-bottom="bodyBottom"
            v-bind:body-left="{ width: bodyLeft, coverTop: bodyLeftCoverTop, coverBottom: bodyLeftCoverBottom }"
            v-bind:body-right="{ width: bodyRight, coverTop: bodyRightCoverTop, coverBottom: bodyRightCoverBottom }">
            <template>
                <div v-bind:style="{ minHeight: bodyHeight + 'px' }">
                    <button v-on:click="changeLayoutWidth">changeLayoutWidth</button>: {{ layoutWidth }}
                    <br />
                    <button v-on:click="changeLayoutHeight">changeLayoutHeight</button>: {{ layoutHeight }}
                    <br />
                    <button v-on:click="changeLayoutTop">changeLayoutTop</button>: {{ layoutTop }}
                    <br />
                    <button v-on:click="changeLayoutBottom">changeLayoutBottom</button>: {{ layoutBottom }}
                    <br />
                    <button v-on:click="changeLayoutLeft">changeLayoutLeft</button>: {{ layoutLeft }}
                    <br />
                    <button v-on:click="changeLayoutLeftCoverTop">changeLayoutLeftCoverTop</button>: {{ layoutLeftCoverTop }}
                    <br />
                    <button v-on:click="changeLayoutLeftCoverBottom">changeLayoutLeftCoverBottom</button>: {{ layoutLeftCoverBottom }}
                    <br />
                    <button v-on:click="changeLayoutRight">changeLayoutRight</button>: {{ layoutRight }}
                    <br />
                    <button v-on:click="changeLayoutRightCoverTop">changeLayoutRightCoverTop</button>: {{ layoutRightCoverTop }}
                    <br />
                    <button v-on:click="changeLayoutRightCoverBottom">changeLayoutRightCoverBottom</button>: {{ layoutRightCoverBottom }}
                    <br />
                    <hr />
                    <button v-on:click="changeBodyHeight">changeBodyHeight</button>: {{ bodyHeight }}
                    <br />
                    <button v-on:click="changeBodyMinwidth">changeBodyMinwidth</button>: {{ bodyMinwidth }}
                    <br />
                    <button v-on:click="changeBodyMinheight">changeBodyMinheight</button>: {{ bodyMinheight }}
                    <br />
                    <button v-on:click="changeBodyTop">changeBodyTop</button>: {{ bodyTop }}
                    <br />
                    <button v-on:click="changeBodyBottom">changeBodyBottom</button>: {{ bodyBottom }}
                    <br />
                    <button v-on:click="changeBodyLeft">changeBodyLeft</button>: {{ bodyLeft }}
                    <br />
                    <button v-on:click="changeBodyLeftCoverTop">changeBodyLeftCoverTop</button>: {{ bodyLeftCoverTop }}
                    <br />
                    <button v-on:click="changeBodyLeftCoverBottom">changeBodyLeftCoverBottom</button>: {{ bodyLeftCoverBottom }}
                    <br />
                    <button v-on:click="changeBodyRight">changeBodyRight</button>: {{ bodyRight }}
                    <br />
                    <button v-on:click="changeBodyRightCoverTop">changeBodyRightCoverTop</button>: {{ bodyRightCoverTop }}
                    <br />
                    <button v-on:click="changeBodyRightCoverBottom">changeBodyRightCoverBottom</button>: {{ bodyRightCoverBottom }}
                    <br />
                </div>
            </template>
            <template slot="body-top">
                Body Top Area {{ layoutLeft }}
            </template>
            <template slot="body-bottom">
                Body Bottom Area
            </template>
            <template slot="body-left">
                Body Left Area
            </template>
            <template slot="body-right">
                Body Right Area
            </template>
            <template slot="top">
                Layout Top Area
            </template>
            <template slot="bottom">
                Layout Bottom Area
            </template>
            <template slot="left">
                Layout Left Area
            </template>
            <template slot="right">
                Layout Right Area
            </template>
        </layout-component>
    </div>
</body>
</html>
