<template>
    <g
        v-bind:style="'transform: translateX(' + (x_ + kx_) +'px) translateY(' + (y_ + ky_) + 'px);'">
        <rect
            ref="main"
            v-bind:x="x"
            v-bind:y="y"
            v-bind:width="width"
            v-bind:height="height"
            v-bind:fill="fill"
            v-bind:stroke="stroke"
            v-finger="{ onMoving: onMoving_, onEnd: onEnd_ }">
        </rect>
        <slot></slot>
    </g>
</template>

<script>
    import FingerDirective from '@/directives/finger';

    export default {
        directives: {
            finger: FingerDirective
        },
        props: {
            x: {
                type: [Number, String],
                default: '50%'
            },
            y: {
                type: [Number, String],
                default: '50%'
            },
            width: {
                required: true,
                type: [Number, String]
            },
            height: {
                required: true,
                type: [Number, String]
            },
            fill: {
                type: String,
                default: 'transparent'
            },
            stroke: {
                type: String,
                default: ''
            },
            onSwipe: {
                type: Function,
                default: null
            },
            onSwipeTop: {
                type: Function,
                default: null
            },
            onSwipeBottom: {
                type: Function,
                default: null
            },
            onSwipeLeft: {
                type: Function,
                default: null
            },
            onSwipeRight: {
                type: Function,
                default: null
            },
            onEnd: {
                type: Function,
                default: null
            }
        },
        data () {
            return {
                x_: 0,
                y_: 0,
                kx_: 0,
                ky_: 0
            };
        },
        methods: {
            onMoving_ (evt, info) {
                this.x_ = info.points[0].to.x - info.points[0].from.x;
                this.y_ = info.points[0].to.y - info.points[0].from.y;
                if (typeof this.onMoving === 'function') {
                    this.onMoving(evt, info);
                }
            },
            onEnd_ (evt, info) {
                this.kx_ += info.points[0].to.x - info.points[0].from.x;
                this.ky_ += info.points[0].to.y - info.points[0].from.y;
                this.x_ = 0;
                this.y_ = 0;
                if (typeof this.onEnd === 'function') {
                    this.onEnd(evt, info);
                }
            }
        },
        mounted () {
            console.log('@/components/screen/svg-move.vue -> mounted()');
        }
    };
</script>
