<template>
    <g>
        <rect
            ref="main"
            v-bind:x="x"
            v-bind:y="y"
            v-bind:width="width"
            v-bind:height="height"
            v-bind:fill="fill"
            v-bind:stroke="stroke"
            v-finger="{
                onSwipe: onSwipe_,
                onSwipeTop: onSwipe_,
                onSwipeBottom: onSwipeBottom_,
                onSwipeLeft: onSwipeLeft_,
                onSwipeRigth: onSwipeRight_,
                onEnd: onEnd_ }">
        </rect>
        <slot></slot>
    </g>
</template>

<script>
    import FingerDirective from '@/directives/finger';

    export default {
        directives: {
            finger: FingerDirective
        },
        props: {
            x: {
                type: [Number, String],
                default: '50%'
            },
            y: {
                type: [Number, String],
                default: '50%'
            },
            width: {
                required: true,
                type: [Number, String]
            },
            height: {
                required: true,
                type: [Number, String]
            },
            fill: {
                type: String,
                default: 'transparent'
            },
            stroke: {
                type: String,
                default: ''
            },
            onSwipe: {
                type: Function,
                default: null
            },
            onSwipeTop: {
                type: Function,
                default: null
            },
            onSwipeBottom: {
                type: Function,
                default: null
            },
            onSwipeLeft: {
                type: Function,
                default: null
            },
            onSwipeRight: {
                type: Function,
                default: null
            },
            onEnd: {
                type: Function,
                default: null
            }
        },
        data () {
            return {};
        },
        methods: {
            onSwipe_ (evt, info) {
                if (typeof this.onSwipe === 'function') {
                    this.onSwipe(evt, info);
                }
            },
            onSwipeTop_ (evt, info) {
                if (typeof this.onSwipeTop === 'function') {
                    this.onSwipeTop(evt, info);
                }
            },
            onSwipeBottom_ (evt, info) {
                if (typeof this.onSwipeBottom === 'function') {
                    this.onSwipeBottom(evt, info);
                }
            },
            onSwipeLeft_ (evt, info) {
                if (typeof this.onSwipeLeft === 'function') {
                    this.onSwipeLeft(evt, info);
                }
            },
            onSwipeRight_ (evt, info) {
                if (typeof this.onSwipeRight === 'function') {
                    this.onSwipeRight(evt, info);
                }
            },
            onEnd_ (evt, info) {
                if (typeof this.onEnd === 'function') {
                    this.onEnd(evt, info);
                }
            }
        },
        mounted () {
            console.log('@/components/screen/svg-base.vue -> mounted()');
        }
    };
</script>
