<template>
    <g
        v-bind:style="'transform: translateX(' + (-1 * (width_ / 2)) +'px) translateY(' + (-1 * (height_ / 2)) + 'px) scale(' + (keepScale_ * scale_) + ')'">
        <rect
            ref="main"
            v-bind:x="x"
            v-bind:y="y"
            v-bind:width="width_"
            v-bind:height="height_"
            v-bind:fill="fill"
            v-bind:stroke="stroke"
            v-finger="{ onPinch: onPinch_, onEnd: onEnd_ }">
        </rect>
        <slot></slot>
    </g>
</template>

<script>
    import FingerDirective from '@/directives/finger';

    export default {
        directives: {
            finger: FingerDirective
        },
        props: {
            x: {
                type: [Number, String],
                default: '50%'
            },
            y: {
                type: [Number, String],
                default: '50%'
            },
            width: {
                required: true,
                type: [Number, String]
            },
            height: {
                required: true,
                type: [Number, String]
            },
            fill: {
                type: String,
                default: 'transparent'
            },
            stroke: {
                type: String,
                default: ''
            },
            onPinch: {
                type: Function,
                default: null
            },
            onEnd: {
                type: Function,
                default: null
            }
        },
        data () {
            return {
                scale_: 1,
                keepScale_: 1,
                width_: this.width,
                height_: this.height
            };
        },
        methods: {
            onPinch_ (evt, info) {
                let points = info.points;
                if (points[0].target !== points[1].target) return;
                this.scale_ = info.scale;
                if (typeof this.onPinch === 'function') {
                    this.onPinch(evt, info);
                }
            },
            onEnd_ (evt, info) {
                let newScale = this.keepScale_ * this.scale_;
                this.scale_ = 1;
                this.keepScale_ = newScale;
                if (typeof this.onEnd === 'function') {
                    this.onEnd(evt, info);
                }
            }
        },
        mounted () {
            console.log('@/components/screen/svg-pinch.vue -> mounted()');
            setTimeout(() => {
                this.width_ = this.$refs.main.width.baseVal.value;
                this.height_ = this.$refs.main.height.baseVal.value;
            });
        }
    };
</script>
