<template>
    <g
        v-bind:style="'transform: rotateZ(' + ((keepRotate_) + rotate_) + 'deg)'">
        <rect
            ref="main"
            v-bind:x="x"
            v-bind:y="y"
            v-bind:width="width"
            v-bind:height="height"
            v-bind:fill="fill"
            v-bind:stroke="stroke"
            v-finger="{ onRotate: onRotate_, onEnd: onEnd_ }">
        </rect>
        <slot></slot>
    </g>
</template>

<script>
    import FingerDirective from '@/directives/finger';

    export default {
        directives: {
            finger: FingerDirective
        },
        props: {
            x: {
                type: [Number, String],
                default: '50%'
            },
            y: {
                type: [Number, String],
                default: '50%'
            },
            width: {
                required: true,
                type: [Number, String]
            },
            height: {
                required: true,
                type: [Number, String]
            },
            fill: {
                type: String,
                default: 'transparent'
            },
            stroke: {
                type: String,
                default: ''
            },
            onRotate: {
                type: Function,
                default: null
            },
            onEnd: {
                type: Function,
                default: null
            }
        },
        data () {
            return {
                rotate_: 0,
                keepRotate_: 0
            };
        },
        methods: {
            onRotate_ (evt, info) {
                let points = info.points;
                if (points[0].target !== points[1].target) return;
                this.rotate_ = info.rotate;
                if (typeof this.onRotate === 'function') {
                    this.onRotate(evt, info);
                }
            },
            onEnd_ (evt, info) {
                let newRotate = this.keepRotate_ + this.rotate_;
                this.rotate_ = 0;
                this.keepRotate_ = newRotate;
                if (typeof this.onEnd === 'function') {
                    this.onEnd(evt, info);
                }
            }
        },
        mounted () {
            console.log('@/components/screen/svg-rotate.vue -> mounted()');
        }
    };
</script>
