html, body, #app {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    color: red;
}

svg {
    fill: none;
    stroke: currentColor;
}

#hi-there {
    width: 100%;
    stroke-width: 4;
    height: 300px;
    x: 0px;
    y: 0px;
}
