<template>
    <div class="grid-row">
        <div class="grid-col"
            v-for="column in innerColumns"
            v-bind:class="'grid-col-' + column.width"
            >grid</div>
    </div>
</template>

<script>
    export default {
        props: {
            columns: { type: Array, default () { return []; } }
        },
        data () {
            return {
                innerColumns: []
            };
        },
        methods: {
            buildColumns () {
                if (this.columns.length === 0) {
                    this.innerColumns = [{ width: 24 }];
                } else {
                    let columns = [];
                    this.columns.forEach(column => {
                        if (typeof column === 'number') {
                            columns.push({ width: 12 });
                        } else {
                            columns.push(Object.assign({ width: 24 }, column));
                        }
                    });
                    this.innerColumns = JSON.parse(JSON.stringify(columns));
                }
            }
        },
        watch: {
            columns (columns) {
                this.buildColumns();
            }
        },
        mounted () {
            console.log('@/components/utils/grid.vue -> mounted()');
            this.buildColumns();
        }
    };
</script>

<style lang="less">
    .grid-row {
        width: 100%;
        &, * {
            box-sizing: border-box;
        }

        .grid-col {
            float: left;
            overflow: hidden;
            
            .colfor(@i) when (@i < 25) {
                &.grid-col-@{i} {
                    width: @i / 24 * 100%;
                }
                .colfor(@i + 1)
            }
            .colfor(1);
        }
    } // .grid-row
</style>
