<template>
    <span class="text-i18n">{{ text }}</span>
</template>

<script>
    import Vue from 'vue';
    import VueResource from 'vue-resource';

    export default {
        name: 'i18n',
        props: {
            text: String
        },
        data: {
            result: ''
        },
        mounted () {
            console.log('utils.i18n');
        }
    };
</script>
