<template>
    <div class="layout-container"
         v-bind:class="{ ready: innerReady }">
        <div class="layout-body"
             ref="body">
            <div class="layout-body-main"
                 ref="bodyMain">
                <div class="layout-main">
                    <slot v-if="$slots.default"></slot>
                </div>
                <div class="layout-body-top"
                    ref="bodyTop"
                    v-if="$slots.default && $slots['body-top']"
                    v-show="comShowBodyTop">
                    <slot name="body-top">BT</slot>
                </div>
                <div class="layout-body-bottom"
                    ref="bodyBottom"
                    v-if="$slots.default && $slots['body-bottom']"
                    v-show="comShowBodyBottom">
                    <slot name="body-bottom">BB</slot>
                </div>
                <div class="layout-body-left"
                    ref="bodyLeft"
                    v-if="$slots.default && $slots['body-left']"
                    v-show="comShowBodyLeft">
                    <slot name="body-left">BL</slot>
                </div>
                <div class="layout-body-right"
                    ref="bodyRight"
                    v-if="$slots.default && $slots['body-right']"
                    v-show="comShowBodyRight">
                    <slot name="body-right">BR</slot>
                </div>
            </div>
        </div>
        <div class="layout-top"
            ref="top"
            v-if="$slots.top"
            v-show="comShowTop">
            <slot name="top">T</slot>
        </div>
        <div class="layout-bottom"
            ref="bottom"
            v-if="$slots.bottom"
            v-show="comShowBottom">
            <slot name="bottom">B</slot>
        </div>
        <div class="layout-left"
            ref="left"
            v-if="$slots.left"
            v-show="comShowLeft">
            <slot name="left">L</slot>
        </div>
        <div class="layout-right"
            ref="right"
            v-if="$slots.right"
            v-show="comShowRight">
            <slot name="right">R</slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'layout-component',
        props: {
            width: { type: [String, Number], default: 'auto' },
            height: { type: [String, Number], default: 'auto' },
            top: { type: [String, Number, Object], default: 'auto' },
            bottom: { type: [String, Number, Object], default: 'auto' },
            left: { type: [String, Number, Object], default: 'auto' },
            right: { type: [String, Number, Object], default: 'auto' },
            bodyTop: { type: [String, Number, Object], default: 'auto' },
            bodyBottom: { type: [String, Number, Object], default: 'auto' },
            bodyLeft: { type: [String, Number, Object], default: 'auto' },
            bodyRight: { type: [String, Number, Object], default: 'auto' },
            bodyMinwidth: { type: [String, Number], default: 'auto' },
            bodyMinheight: { type: [String, Number], default: 'auto' }
        },
        data () {
            return {
                innerStyles: {},
                innerReady: false // 指示该组件已经加载完成
            };
        },
        computed: {
            comShowTop () {
                try {
                    if (this.top === 'auto' || this.top.height) {
                        return true;
                    }
                    return this.innerStyles.top.height;
                } catch (e) {
                    return false;
                }
            },
            comShowBottom () {
                try {
                    if (this.bottom === 'auto' || this.bottom.height) {
                        return true;
                    }
                    return this.innerStyles.bottom.height;
                } catch (e) {
                    return false;
                }
            },
            comShowLeft () {
                try {
                    if (this.left === 'auto' || this.left.width) {
                        return true;
                    }
                    return this.innerStyles.left.width;
                } catch (e) {
                    return false;
                }
            },
            comShowRight () {
                try {
                    if (this.right === 'auto' || this.right.width) {
                        return true;
                    }
                    return this.innerStyles.right.width;
                } catch (e) {
                    return false;
                }
            },
            comShowBodyTop () {
                try {
                    if (this.bodyTop === 'auto' || this.bodyTop.height) {
                        return true;
                    }
                    return this.innerStyles.body.top.height;
                } catch (e) {
                    return false;
                }
            },
            comShowBodyBottom () {
                try {
                    if (this.bodyBottom === 'auto' || this.bodyBottom.height) {
                        return true;
                    }
                    return this.innerStyles.body.bottom.height;
                } catch (e) {
                    return false;
                }
            },
            comShowBodyLeft () {
                try {
                    if (this.bodyLeft === 'auto' || this.bodyLeft.width) {
                        return true;
                    }
                    return this.innerStyles.body.left.width;
                } catch (e) {
                    return false;
                }
            },
            comShowBodyRight () {
                try {
                    if (this.bodyRight === 'auto' || this.bodyRight.width) {
                        return true;
                    }
                    return this.innerStyles.body.right.width;
                } catch (e) {
                    return false;
                }
            }
        },
        methods: {
            resetStyles () {
                // (!this.innerReady || this.$refs.left.style.width === 'auto' ? 1 : 0) 避免每次计算累加的问题，通过 innerReady 和 width="auto" 来判断是否需要+1
                let top = this.top.height !== undefined ? this.top.height : this.top;
                let bottom = this.bottom.height !== undefined ? this.bottom.height : this.bottom;
                let left = this.left.width !== undefined ? this.left.width : this.left;
                let right = this.right.width !== undefined ? this.right.width : this.right;
                let bodyTop = this.bodyTop.height !== undefined ? this.bodyTop.height : this.bodyTop;
                let bodyBottom = this.bodyBottom.height !== undefined ? this.bodyBottom.height : this.bodyBottom;
                let bodyLeft = this.bodyLeft.width !== undefined ? this.bodyLeft.width : this.bodyLeft;
                let bodyRight = this.bodyRight.width !== undefined ? this.bodyRight.width : this.bodyRight;
                let styles = {
                    width: this.width || 'auto',
                    height: this.height || 'auto',
                    top: {
                        height: this.$refs.top ? (top === 'auto' ? this.$refs.top.clientHeight : top) : 0
                    },
                    bottom: {
                        height: this.$refs.bottom ? (bottom === 'auto' ? this.$refs.bottom.clientHeight : bottom) : 0
                    },
                    left: {
                        width: this.$refs.left ? (left === 'auto' ? this.$refs.left.clientWidth + (!this.innerReady || this.$refs.left.style.width === 'auto' ? 1 : 0) : left) : 0,
                        coverTop: this.$refs.left && this.$refs.top ? this.left.coverTop === true : false, // default is false
                        coverBottom: this.$refs.left && this.$refs.bottom ? this.left.coverBottom === true : false // default is false
                    },
                    right: {
                        width: this.$refs.right ? (right === 'auto' ? this.$refs.right.clientWidth + (!this.innerReady || this.$refs.right.style.width === 'auto' ? 1 : 0) : right) : 0,
                        coverTop: this.$refs.right && this.$refs.top ? this.right.coverTop === true : false, // default is false
                        coverBottom: this.$refs.right && this.$refs.bottom ? this.right.coverBottom === true : false // default is false
                    },
                    body: {
                        top: {
                            height: this.$refs.bodyTop ? (bodyTop === 'auto' ? this.$refs.bodyTop.clientHeight : bodyTop) : 0
                        },
                        bottom: {
                            height: this.$refs.bodyBottom ? (bodyBottom === 'auto' ? this.$refs.bodyBottom.clientHeight : bodyBottom) : 0
                        },
                        left: {
                            width: this.$refs.bodyLeft ? (bodyLeft === 'auto' ? this.$refs.bodyLeft.clientWidth + (!this.innerReady || this.$refs.bodyLeft.style.width === 'auto' ? 1 : 0) : bodyLeft) : 0,
                            coverTop: this.$refs.bodyLeft && this.$refs.bodyTop ? this.bodyLeft.coverTop === true : false, // default is false
                            coverBottom: this.$refs.bodyLeft && this.$refs.bodyBottom ? this.bodyLeft.coverBottom === true : false // default is false
                        },
                        right: {
                            width: this.$refs.bodyRight ? (bodyRight === 'auto' ? this.$refs.bodyRight.clientWidth + (!this.innerReady || this.$refs.bodyRight.style.width === 'auto' ? 1 : 0) : bodyRight) : 0,
                            coverTop: this.$refs.bodyRight && this.$refs.bodyTop ? this.bodyRight.coverTop === true : false, // default is false
                            coverBottom: this.$refs.bodyRight && this.$refs.bodyBottom ? this.bodyRight.coverBottom === true : false // default is false
                        },
                        minWidth: this.bodyMinwidth || 0,
                        minHeight: this.bodyMinheight || 0
                    }
                };
                //
                // 设置布局尺寸
                //
                this.$el.style.width = styles.width === 'auto' ? '100%' : styles.width.toString().replace(/px|%/ig, '') + 'px';
                this.$el.style.height = styles.height === 'auto' ? '100%' : styles.height.toString().replace(/px|%/ig, '') + 'px';
                //
                // 设置上下左右区域的样式
                //
                if (this.$refs.top) {
                    this.$refs.top.style.left = '0px';
                    this.$refs.top.style.right = '0px';
                    this.$refs.top.style.height = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                } // 设置顶部区域样式
                if (this.$refs.bottom) {
                    this.$refs.bottom.style.left = '0px';
                    this.$refs.bottom.style.right = '0px';
                    this.$refs.bottom.style.marginTop = '-' + styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bottom.style.height = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                } // 设置底部区域样式
                if (this.$refs.left) {
                    this.$refs.left.style.top = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.left.style.bottom = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                    if (styles.left.width) {
                        this.$refs.left.style.width = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    }
                    if (styles.left.coverTop) {
                        this.$refs.left.style.top = '0px';
                        this.$refs.top.style.left = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    }
                    if (styles.left.coverBottom) {
                        this.$refs.left.style.bottom = '0px';
                        this.$refs.bottom.style.left = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    }
                } // 设置左侧区域样式
                if (this.$refs.right) {
                    this.$refs.right.style.top = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.right.style.bottom = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.right.style.width = styles.right.width.toString().replace(/px|%/ig, '') + 'px';
                    if (styles.right.coverTop) {
                        this.$refs.right.style.top = '0px';
                        this.$refs.top.style.right = styles.right.width.toString().replace(/px|%/ig, '') + 'px';
                    }
                    if (styles.right.coverBottom) {
                        this.$refs.right.style.bottom = '0px';
                        this.$refs.bottom.style.right = styles.right.width.toString().replace(/px|%/ig, '') + 'px';
                    }
                } // 设置右侧区域样式
                //
                // 设置主区域中的外边区域样式
                //
                if (this.$refs.bodyTop) {
                    this.$refs.bodyTop.style.top = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyTop.style.left = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyTop.style.right = styles.right.width.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyTop.style.height = styles.body.top.height.toString().replace(/px|%/ig, '') + 'px';
                } // 中间头部区域
                if (this.$refs.bodyBottom) {
                    this.$refs.bodyBottom.style.bottom = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyBottom.style.left = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyBottom.style.right = styles.right.width.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyBottom.style.marginTop = '-' + styles.body.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyBottom.style.height = styles.body.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                } // 中间底部区域
                if (this.$refs.bodyLeft) {
                    this.$refs.bodyLeft.style.top = (styles.top.height + styles.body.top.height).toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyLeft.style.bottom = (styles.bottom.height + styles.body.bottom.height).toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyLeft.style.left = styles.left.width.toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyLeft.style.width = styles.body.left.width.toString().replace(/px|%/ig, '') + 'px';
                    if (styles.body.left.coverTop) {
                        this.$refs.bodyLeft.style.top = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                        this.$refs.bodyTop.style.left = (styles.left.width + styles.body.left.width).toString().replace(/px|%/ig, '') + 'px';
                    }
                    if (styles.body.left.coverBottom) {
                        this.$refs.bodyLeft.style.bottom = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                        this.$refs.bodyBottom.style.left = (styles.left.width + styles.body.left.width).toString().replace(/px|%/ig, '') + 'px';
                    }
                } // 中间左侧区域
                if (this.$refs.bodyRight) {
                    this.$refs.bodyRight.style.top = (styles.top.height + styles.body.top.height).toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyRight.style.bottom = (styles.bottom.height + styles.body.bottom.height).toString().replace(/px|%/ig, '') + 'px';
                    this.$refs.bodyRight.style.width = (styles.right.width + styles.body.right.width).toString().replace(/px|%/ig, '') + 'px';
                    if (styles.body.right.coverTop) {
                        this.$refs.bodyRight.style.top = styles.top.height.toString().replace(/px|%/ig, '') + 'px';
                        this.$refs.bodyTop.style.right = (styles.right.width + styles.body.right.width).toString().replace(/px|%/ig, '') + 'px';
                    }
                    if (styles.body.right.coverBottom) {
                        this.$refs.bodyRight.style.bottom = styles.bottom.height.toString().replace(/px|%/ig, '') + 'px';
                        this.$refs.bodyBottom.style.right = (styles.right.width + styles.body.right.width).toString().replace(/px|%/ig, '') + 'px';
                    }
                }  // 中间右侧区域
                let elWidth = this.$el.clientWidth;
                let bodyWidth = elWidth - styles.left.width - styles.right.width;
                if (styles.body.minWidth !== 'auto' && styles.body.minWidth > bodyWidth) {
                    this.$refs.bodyMain.style.minWidth = (styles.body.minWidth + (elWidth - bodyWidth)).toString().replace(/px|%/ig, '') + 'px';
                } else {
                    this.$refs.bodyMain.style.minWidth = '100%';
                } // 中间最小宽度
                if (styles.body.minHeight !== 'auto') {
                    this.$refs.bodyMain.style.minHeight = styles.body.minHeight.toString().replace(/px|%/ig, '') + 'px';
                } else {
                    this.$refs.bodyMain.style.minHeight = '100%';
                } // 中间最小高度
                //
                // * 设置主区域内边距
                //
                this.$refs.bodyMain.style.paddingTop = (styles.body.top.height + styles.top.height).toString().replace(/px|%/ig, '') + 'px';
                this.$refs.bodyMain.style.paddingBottom = (styles.body.bottom.height + styles.bottom.height).toString().replace(/px|%/ig, '') + 'px';
                this.$refs.bodyMain.style.paddingLeft = (styles.body.left.width + styles.left.width).toString().replace(/px|%/ig, '') + 'px';
                this.$refs.bodyMain.style.paddingRight = (styles.body.right.width + styles.right.width).toString().replace(/px|%/ig, '') + 'px';
                //
                // 更新内部数据
                //
                this.innerStyles = styles;
                this.innerReady = true;
            } // resetStyles()
        }, // methods {}
        mounted () {
            this.resetStyles();
            Object.keys(this.$props).forEach(each => {
                this.$watch(each, () => {
                    Object.keys(this.$refs).filter(refname => {
                        return refname !== 'body';
                    }).forEach(refname => {
                        this.$refs[refname].style.width = 'auto';
                        this.$refs[refname].style.height = 'auto';
                    });
                    this.resetStyles();
                });
            });
            console.log('@/components/utils/layout.vue -> mounted()');
        }
    };
</script>

<style lang="less">
    [class*="layout-"] {
        background-color: #ffffff;
    }
</style>

<style lang="less" scoped>
    [class*="layout-"] {
        box-sizing: border-box;
        * {
            overflow: auto;
        }
    }

    .layout-container {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 800px;
        overflow: hidden;
        opacity: 0;

        &.ready {
            opacity: 1;
        }

        .layout-top,
        .layout-left,
        .layout-right,
        .layout-bottom {
            position: absolute;
            z-index: 1;
        }

        .layout-top {
            top: 0px;
            left: 0px;
            right: 0px;
        }

        .layout-left {
            left: 0px;
        }

        .layout-right {
            right: 0px;
        }

        .layout-bottom {
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        .layout-left,
        .layout-right {
            top: 0px;
            bottom: 0px;
        }

        .layout-body {
            position: absolute;
            width: 100%;
            height: 100%;

            .layout-body-main {
                position: relative;
                width: 100%;
                min-height: 100%;
            }

            .layout-body-top,
            .layout-body-left,
            .layout-body-right,
            .layout-body-bottom {
                position: absolute;
                z-index: 1;
            }

            .layout-body-top {
                top: 0px;
                left: 0px;
                right: 0px;
            }

            .layout-body-left {
                left: 0px;
            }

            .layout-body-right {
                right: 0px;
            }

            .layout-body-bottom {
                left: 0px;
                right: 0px;
                bottom: 0px;
            }

            .layout-body-left,
            .layout-body-right {
                top: 0px;
            }
        } // .layout-body
    } // .layout-wrapper
</style>
