<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>浏览器信息显示</title>
    <style>
        label {
            font-weight: bold;
        }
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        table th, table td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>{{ info }}</p>
        <div>
            <label for="">set cookie</label>
            <input type="text" v-model="cookie.name" placeholder="name" />
            <input type="text" v-model="cookie.value" placeholder="value" />
            <button v-on:click="setCookie">添加</button>
        </div>
        <hr />
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cookie in cookies">
                    <td>{{cookie.key}}</td>
                    <td>{{cookie.value}}</td>
                    <td><a href="javascript:;" v-on:click="removeCookie(cookie.key)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
